@charset "utf-8";
/* CSS Document */
.myclass{font-family:arial;color: green;}
#header{border: 2px solid red;width: 1000px;height: 100px;font-size: 100px;color:aqua;text-shadow: 0 0 10px red;font-style: italic;}
